.heading {
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  color: khaki;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  margin: auto;
  }

.items {
  font-size: 18px;
  font-weight: bold;
  color: white;
  }

#brushes {
  background-color: mediumspringgreen;

}
.starting{
  color: blue;
  font-weight: bold;
  font-size-adjust: auto;
}

#frames {
  background-color: lightcoral;
  }

#paint {
    background-color: skyblue;
  }

  h1,
  h2,
  h3,
  p {
  font-family: "Helvetica", sans-serif;
  }

  p {
    font-size: 15px;
  }
